/* weather.css */
.weatherCard {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  min-width: 250px;  /* Ridotto da 300px a 250px */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.weatherTitle {
  font-size: 24px;
}

.weatherInfo {
  font-size: 18px;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

/* Media query per schermi con larghezza massima di 600px (mobile) */
@media (max-width: 600px) {
  .cardContainer {
    flex-direction: column;
    align-items: center;
  }

  .weatherCard {
    min-width: 200px;  /* Ridotto da 300px a 200px per mobile */
  }
}
